body{
    background-image: linear-gradient(rgb(171, 193, 253), rgb(255, 255, 255));
    background-repeat: no-repeat;
    background-color: white;
}
h1, h2, h3, h4, h5, h6{
    color: rgb(148, 148, 245);
    text-shadow: 2px 2px navy;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 200%;
    margin: 30px 0;
}
h2{
    font-size: 150%;
    margin:15px 0 0 0;
}
blockquote{
    font-style: italic;
}
a, a:link, a:visited{
 color:red;
}
a:hover{
    text-shadow: 2px 2px white;
}
ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }