
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
    background-image: linear-gradient(rgb(171, 193, 253), rgb(255, 255, 255));
    background-repeat: no-repeat;
    background-color: white;
    margin:0;
}
.content{
    background-color: white;
    width:60%;
    margin:0 auto ;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6{
    color: rgb(255, 162, 0);
    text-shadow: 2px 2px navy;
    font-family: 'Ubuntu', sans-serif;
}
h1{
    font-size: 200%;
    margin: 30px 0;
}
h2{
    font-size: 150%;
    margin:15px 0 0 0;
}
blockquote{
    font-style: italic;
}
nav{
    position: sticky;
    background-color:#CCC;
    border-top:1px solid #999;
    border-bottom:1px solid #999;
    padding:10px;
    border-left:1px solid #999;
    border-right: 1px solid #999;
    margin:-20px;
}
nav a{
    padding:10px 15px;
    color:#AAA;
    border-right:1px solid #999;
}
a, a:link, a:visited{
 color:rgb(0, 0, 0);
}
nav a:hover{
    background-color:rgb(171, 193, 253);
}
ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }

.album{
    background-color: azure;
    padding: 15px;
    width: 600px;
    margin:30px;
    border-radius: 10px;
    box-shadow: 3px 3px rgba(10%, 10%, 10%, 10%);
}
.album img{ width: 200px; height: 200px; border-radius: 5px; margin-right:15px; margin-bottom: 15px; float:left;}
.album h2{margin-top:0; text-shadow: none; color:black; float:left;}
.album audio{
    float:left;
    margin-top:25px;
}
.album table{
    clear:both;
    border:1px solid rgb(134, 133, 133);
    border-collapse: collapse;
}
.album table th{
    background-color:#CCC;
}
.album table td, .album table th{
    font-family: 'Ubuntu', sans-serif;
    padding:5px;
    border:1px solid rgb(134, 133, 133);
    border-spacing: 0;
}
label, fieldset{
    
    display:block;
    margin-top:30px
    
}